annotated-types==0.7.0
astroid==3.3.11
blinker==1.9.0
click==8.3.0
colorama==0.4.6
dill==0.4.0
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
platformdirs==4.4.0
pydantic==2.11.9
pydantic_core==2.33.2
pylint==3.3.8
SQLAlchemy==2.0.43
tomlkit==0.13.3
typing-inspection==0.4.1
typing_extensions==4.15.0
Werkzeug==3.1.3
